        body {
            background-color: #f3f3f3;
        }

        .navbar {
            background-color: #4CAF50;
        }

        .navbar-brand {
            color: white;
        }

        .table thead {
            background-color: #4CAF50;
            color: white;
        }

        .btn-green {
            background-color: #4CAF50;
            color: white;
        }


        .header {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            text-align: center;
        }


        .btn-green:hover {
            background-color: #388E3C;
        }


        .table thead {
            background-color: #4CAF50;
            color: white;
        }


        .nav-link {
            color: white;
        }

        .nav-item .nav-link {
            color: white;
        }

        .btn-red {
            background-color: firebrick;
            color: white;
        }

        .btn-red:hover {
            background-color: darkred;
            color: white;
        }

        .btn-blue {
            background-color: dodgerblue;
            color: white
        }

        .btn-blue:hover {
            background-color: midnightblue;
            color:white;
        }

        .navbar-brand {
            color: white !important;
        }
