<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">🌿ECO-FERME🌿</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#">Encaisser</a></li>
            <li class="nav-item"><a class="nav-link" href="http://localhost/CSIAPP/view/gestAtelier.php">Atelier</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Stocks</a></li>
            <li class="nav-item"><a class="nav-link" href="http://localhost/CSIAPP/view/gestionStock.php">Stocks</a></li>
            <li class="nav-item"><a class="nav-link" href="http://localhost/CSIAPP/view/Profil.php">Profil</a></li>
            <li class="nav-item"><a class="nav-link" href="http://localhost/CSIAPP/databases/logout.php">Se
                    déconnecter</a></li>
        </ul>
    </div>
</nav>